<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>个人中心</title>
    <link rel="stylesheet" href="/css/commen.css">
    <link rel="stylesheet" href="/css/commenTop.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="athm-nav-channel">
    <a class="nav-back"  href="javascript:window.history.back();"></a>
    <a href="/" class="nav-main"></a>
    <span class="nav-content">我的汽车之家</span>
    <i class="nav-search"></i>
    <a href="/backLogin" class="backLogin">退出</a>
</div>

<div class="i-user-info">
    <div class="user-info">
        <dl class="user-img"></dl>
        <dd class="name"><%=username%> <i></i></dd>
        <dd class="level"></dd>
    </div>
    <div class="user-about">
        <div class="guanzhu">
            <i>1</i><br>
            关注
        </div>
        <div class="fenshi">
            <i>99</i><br>
            粉丝
        </div>
    </div>
</div>

<div class="links-member">
    <a href="" class="links-member-a">
        <p><img src="/img/index/icon-crown.png" alt=""></p>
        <span>会员福利兑换</span>
        <i></i>
    </a>
</div>
<div class="links-membertwo">
</div>

<div class="message-card">
    <h4>我的消息</h4>
    <ul>
        <li><img src="/img/index/message1.png" alt="">论坛回复</li>
        <li><img src="/img/index/message2.png" alt="">评论回复</li>
        <li><img src="/img/index/message3.png" alt="">私信</li>
        <li><img src="/img/index/message4.png" alt="">车友圈</li>
        <li><img src="/img/index/message5.png" alt="">系统通知</li>
    </ul>
</div>
<a class="msc">
    <img src="/img/index/msc.png" alt="">
</a>
<div class="wallet-card">
    <h4>我的钱包</h4>
    <ul class="clear-fix">
        <li><span>领现金红包</span>实名有奖</li>
        <li><span>办联名卡</span>免费洗车</li>
        <li><span>0</span>万里通积分</li>
        <li><span>&yen;0.00</span>我的赞赏</li>
    </ul>
</div>

<div class="mine-card">
    <h4>个人服务</h4>
    <ul>
        <li><img src="/img/index/mine1.png" alt="">我的订单</li>
        <li><img src="/img/index/mine2.png" alt="">我的发表</li>
        <li><img src="/img/index/mine3.png" alt="">我的收藏</li>
        <li><img src="/img/index/mine4.png" alt="">我的草稿</li>
        <li><img src="/img/index/mine5.png" alt="">我的车库</li>
        <li><img src="/img/index/mine6.png" alt="">我的优惠券</li>
        <li><img src="/img/index/mine7.png" alt="">报价咨询</li>
    </ul>
</div>
</body>
</html>